* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.upper-container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 53px;
    max-width: 600px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.register-container{
    
    display:flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    border: thin solid black;
    
}
.logo{
    width: 25px;
}

.form-container div{

    width: 100%;
    
}
form{
    display: flex;
    flex-direction:column;
    padding-top: 25px;
}
input,label,button{
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
button{
    background-color: (rgba(16, 16, 16, 0.3));
    border-radius: 25px;
}

.dob{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
select{
    padding:20px;
}